<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>links}}
</head>
<body>
{{>navbar}}
  <div class="conatainer-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
             <!-- rigth side div -->
          <div class="col-md-12 col-12 main_header_left align-items-center">
            <figure>
                <img src="images/404.jpg" class="img-fluid errorimg"  title="ERROR">
            </figure>
            <h1>error</h1>
            <p>welcome to weather app</p>
            <h1>{{errormsg}}</h1>
            <a href="/" target="_blank"><button>go back</button></a>
          </div>
         
        </div>
      </div>
    </div>
  </div>
  {{>footer}}

    
</body>
</html>
